body {
    background-color: #1e1e1e;
    color: white;
}

#canvasWrapper {
    position: relative;
    display: inline-block;
}

canvas {
    image-rendering: pixelated;
    border: 2px solid #444;
    background: #222;
}

.palette-color {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 2px solid #444;
}

.palette-color.selected {
    border: 2px solid white;
}

.frame-thumb {
    width: 64px;
    height: 64px;
    border: 2px solid #555;
    margin-right: 5px;
    cursor: pointer;
    image-rendering: pixelated;
}
