body {
    background-color: #1e1e1e;
    color: white;
}

#canvasWrapper {
    position: relative;
    display: inline-block;
}

canvas {
    image-rendering: pixelated;
    border: 2px solid #444;
    background: #222;
}

.palette-grid {
    display: grid;
    grid-template-columns: repeat(6, 30px);
    gap: 8px;
}

.palette-color {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 2px solid #444;
    border-radius: 4px;
}

.palette-color.selected {
    border: 2px solid white;
}
